.title {
    text-align: center;
    font-size: 36px;
    padding: 25px;
}

.plants {
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.plant-thumbnail {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    margin: 15px;
    padding: 5px;
}

/* fix child elements getting hovered instead of parent
i want to highlight the plant you want to click on */

.plant-thumbnail-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
}

.plant-thumbnail-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

.more-info-btn {
    width: 100%;
    text-align: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.page-btn {
    height: 50px;
    width: 200px;
}