.plants {
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.plant-info {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 200px; */
    width: 350px;
    margin: 15px;
    padding: 5px;
}

.plant-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
}

.info-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.page-btn {
    height: 50px;
    width: 200px;
}