.plant-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.plant-title {
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    padding: 25px;
}

.plant-page-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.plant-info-left {
    /* plant page image */
}

.plant-info-right {
    /* plant page info */
}

.info-item {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
